{% extends 'base.html' %}
{% block title %}分类{% endblock %}
{% block content %}
    <h4> 以下是【{{ category }}】类别的文章：</h4>
    {% for article in page_obj.object_list %}
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">
                    <a href="{% url 'detail' article.id %}">{{ article.title }}</a>
                </h3>
            </div>
            <div class="panel-body">
                <p>作者：{{ article.author }} 日期：{{ article.pub_time }}</p>
                <p>{{ article.content|truncatechars:200|striptags }}</p>
                <a class="btn" href="{% url 'detail' article.id %}">进入阅读 »</a>
            </div>
        </div>
    {% endfor %}
    <!--分页条-->
    {% include 'paginator.html' %}
{% endblock %}