<div class="container"> <!--容器-->
    <div class="row clearfix"><!--行-->
        <div class="col-md-12 column"><!--列-->
            <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation"> <!--导航 反色 固定顶部-->
                <div class="navbar-header"> <!--标题-->
                    <a class="navbar-brand" href="/">我的博客</a><!--navbar-header和navbar-brand可以让标题文字大一号-->
                </div>
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1"><!--折叠-->
                    <ul class="nav navbar-nav"> <!--导航列表-->
                        <li class="active"> <!--激活的列表项-->
                            <a href="/">首页</a>
                        </li>
                        <li class="dropdown"><!--下拉菜单-->
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">分类<strong
                                    class="caret"></strong></a>
                            <ul class="dropdown-menu"><!--下拉菜单项-->
                                <li>
                                    <a href="{% url 'category' 2%}">Python</a>
                                </li>
                                <li>
                                    <a href="{% url 'category' 3%}">Django</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                    <ul class="nav navbar-nav navbar-right " style="padding-right: 20px"><!--导航右侧-->
                        <li class="active">
                            <a href="admin/">登录</a>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>
    </div>
</div>